*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
.logo img{
    width: 100px;
    height: 100px;
}
.logo{
    border-radius: 10px;
}
header{
    background-color: rgb(245, 122, 7);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0px;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Overpass', sans-serif;
}
body{
    background-color: rgb(180, 170, 170);
}
.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.menu li a{
    color:#fff;
    display: flex;
    text-decoration: none;
    margin-left: 175px;
    margin-right: 150px;
    padding: 10px 10px 10px 10px;
    font-family: 'Overpass', sans-serif;
}
.menu li a:hover{
    display: block;
    color:rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(245, 122, 7);
}
h1{
    color: #000;
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}
h2{
    color: #000;
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}
h3{
    color: #000;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}
.container{
    max-width: 400px;
    margin: 0px auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Overpass', sans-serif;
}
.container div{
    flex: 1 1 300px;
    margin: 10px;
}
img{
    width: 100%;
}
h4{
    color: #000;
    font-family: 'Overpass', sans-serif;
}
footer{
    background-color: rgb(245, 122, 7);
    width: 100%;
    display: flex;
    padding: 10px;
}
.rodape{
    justify-content: center;
}
.rodape img{
    width: 80px;
    height: 80px;
}
.list2 li{
    color: #000;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}
b{
    color: #000;
    text-align: center;
    margin-left: 500px;
    font-size: 25pt;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}
h4{
    color: #000;
    font-family: 'Overpass', sans-serif;
}